@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e0e11;
    color: white;
    text-align: center;
}

header {
    background-color: #181820;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #6ea6ff;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 50px 20px;
}

.project {
    background: #222;
    padding: 20px;
    margin: 15px auto;
    width: 50%;
    border-radius: 10px;
}

.project a {
    color: #9266e5;
    text-decoration: none;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #181820;
    font-size: 0.9rem;
}
